#header .caja_header h1{
    animation: mover_izquierda_a_derecha 2s 1;
    animation-fill-mode: forwards;
}

@keyframes mover_izquierda_a_derecha{
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateY(0px);
    }
}

#main{
.productos{        
    figure:hover{    
            transition: 1s;
            transform: scale(1.1,1.1);
        }
    }

button:hover{
    box-shadow: 5px 5px rgb(126, 123, 123);
    transition: 1s;
}
}