/*===============================================================================================*/
/*ESTILOS DEL FOOTER*/
/*===============================================================================================*/

#pie_de_pagina{
    width: 100%;
    height: 150px;
    margin-top: auto;
    background-color: black;
    overflow: scroll; 

    .box_footer{
        display: grid;
        grid-template-columns: repeat(4 25px);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "box1 box2 box2 box3";
    }
    
    .box_logo{
        grid-area: box1; 
    
        figure{
            padding-left: 15px;
            width: 100%;
            height: 140px;
            display: flex;
            justify-content: start;
            align-items: center;
    
            img{
    
            width: 70%;
            height: 70%;
            } 
        }
    }
    
    
    .box_redes_sociales{
        grid-area: box2;
        padding-top: 5%; 
        display: flex;
        align-items: center;
    
        .box_redes_sociales_1ergrupo a img{
            padding-left: 10px;
        }
    
        .box_redes_sociales_2dogrupo a img{
            padding-left: 10px;
            margin-left: 1px;
        }
    }
    
    
    .box_contactos{
        grid-area: box3; 
        display: flex;
        flex-direction: column;
    
        div h4{
            color: white;
            font-size: 20px;
            padding-right: 5%;
            margin-bottom: 1%;
        }
    }
    
    .box_contactos_whatsApp{
        display: flex;
        gap: 10px;
        padding-top: 10px;
        align-items: end;
    }
    
    .box_contactos_telefono{
        display: flex;
        gap: 10px;
        padding-top: 10px;
        align-items: end;
    }
    
    .box_contactos_ubicacion{
        display: flex;
        gap: 10px;
        padding-top: 10px;
        align-items: end;
    }

    /*===============================================================================================*/
    /*DISEÑO RESPONSIVE DEL FOOTER*/
    /*MODIFICACIÓN DE PROPIEDADES PARA CUANDO LA PÁGINA TENGA UN ANCHO MENOR O IGUAL A 850 PIXELES*/
    /*===============================================================================================*/

    @media (max-width: 850px){
        .box_logo figure{
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;

            img{    
                width: 100%;
                height: 100%;   
                
                a{    
                    width: 100%;
                    height: 100%;
                } 
            } 
        }
        
        .box_redes_sociales{
            flex-direction: column;
        }

        .box_contactos div h4{
            font-size: 10px;
        }
    }
}



